@import url('./src/watches/watches.css');

body {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.btn {
  border-radius: 0px
}

.formSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  padding: 0.2em;
  padding-right: 1.5em;
  border: 1px solid #c0c0c0;
  border-radius: 1px;
}

.form-control {
  border-radius: 0;
}

#login-wrapp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username,
#password {
  margin-bottom: 8px;
}

#signin {
  width: 100%;
  border-radius: 4px;
}

#login-form, #signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
}

#carousel-wrapp {
  height: 32vh;
}

#todo-wrapp {
  margin-top: 32px;
}

#todo-item {
  margin-bottom: 16px;
}

.jumbotron {
  margin-top: 32px;
}

#cart {
  width: 500px;
}

.fa-sign-out-alt {
  color: white;
  font-size: 18px;
}